.test {
  background-color: gold;
}

div :not(#root) {
  outline: 0.5px solid gray;
}

.calendar {
  width: 700px;
  height: 300px;
}

.nameDays {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gridDays,
.gridMonths {
  display: flex;
  flex-wrap: wrap;
}

.gridDays {
  height: 77%;
}

.gridMonths {
  height: 83%;
}
.another,
.current,
.today {
  flex-grow: 1;
  min-width: 98px;
  text-align: center;
}
.current {
  color: black;
}
.today {
  color: red;
}
.another {
  color: lightgrey;
}

.nav {
  display: flex;
  width: 100%;
  height: 50px;
}

.arrow {
  width: 14.3%;
  text-align: center;
  cursor: pointer;
  flex-shrink: 0;
}

.month {
  width: 100%;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
}
.month:hover {
  color: gray;
}
.month:active {
  color: rgb(53, 48, 48);
}

.nameMonth {
  flex-grow: 1;
  min-width: 25%;
  text-align: center;
  /*  border: 1px solid #000; */
}

.nameMonth:hover {
  background-color: rgba(255, 0, 0, 0.2);
}
.nameMonth:active {
  background-color: rgba(255, 0, 0, 0.5);
}

.link {
  text-decoration: none;
  color: initial;
}
.link:focus {
  color: initial;
}
.currMonth {
  background-color: red;
}
