.test {
  background-color: gold;
}

div :not(#root) {
  outline : 0.5px solid gray;
}

.calendar {
  width: 700px;
}

.nameDays {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gridDays {
  display: flex;
  flex-wrap: wrap;
}
.another,
.current {
  flex-grow: 1;
  min-width: 98px;
  text-align: center;
}
.another {
  color: lightgrey;
}

.current {
  color: black;
}
